body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    background: #181818;
    color: #fff;
    overflow: hidden;

}
h1,h2,h3,h4,h5,h6{
    font-weight: 300;
}
 #wrapper{
     display: flex;
     flex-direction: row;
 }
 #right{
   flex: 1;
 }
 #left{
     display: flex;
     flex: 1;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 100vh;
 }
 /*sign in*/
 #signin{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     width: 80%;
     padding-bottom: 1rem;

 }
 #signin form{
     width: 80%;
     padding-bottom: 3rem;
     
 }